OPENAI_API_KEY=
OPENAI_MAX_TOKENS_CONTEXT=
OPENAI_MAX_TOKENS_COMPLETION=
OPENAI_MAX_TOKENS_EMBEDDING=

SUPABASE_URL=
SUPABASE_KEY=

SECTION_MATCH_THRESHOLD=
SECTION_MATCH_COUNT=
SECTION_MIN_CONTENT_LENGTH=

SLACK_SIGNING_SECRET=

# Only required for rate limiting
KV_REST_API_URL=
KV_REST_API_TOKEN=

ENABLE_RATE_LIMIT=false # set to "true" to enable